@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Overpass+Mono&family=Share+Tech+Mono&display=swap');

* {
	background-color: #0e0e0e;
	color: white;
	margin: 0;
 	animation: gradient-animation 50s ease-in-out infinite;
	font-family: 'JetBrains Mono', monospace;
	
}

html { 
 	height: 100%;
}

.floatBar {
	display: flex;
	justify-content: center;
	position: absolute;
	position: fixed;
	width:100%;
	bottom: 0px;
	background: rgb(25,25,25);
	background: linear-gradient(0deg, rgba(25,25,25,1) 0%, rgba(25,25,25,0) 100%); 
}

.container {
	background-color: transparent;
}

.btn {
	border-radius: 5px;
	font-size: 16px;
	margin: 20px;
	text-decoration: none;
	border: 0;
	cursor: pointer;
	transition: .3s color;
	background-color: #191919;
	padding: 5px;
	width: 240px;

}

.btn:hover {
	color: #a78bf9;
}

.content {
	margin: 5px;
	width: 80%;
}

h1, h2, p {	
	margin-top: 10px;
}

i {
	background: #35ca53;
	background: -webkit-linear-gradient(to right, #35ca53, #669980); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #35ca53, #669980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	transition: .3s color;
}

i:hover {
	color: #a78bf9;
	cursor: pointer;
}

h1, h2 {
	font-family: 'Share Tech Mono', monospace;
}

li { 
	list-style-image: url(img/iphone.png); 
	font-family: 'Overpass Mono', monospace;
} 

hr {
	border: 0; 
	background-color: rgba(255,255,255,0.3);
	height: 1px; 
}

b {
	background: #f2ff00;
	background: -webkit-linear-gradient(to right, #f2ff00, #ff0000); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f2ff00, #ff0000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	transition: .3s color;
}

b:hover {
	color: #a78bf9;
	cursor: pointer;
}

strong {
	background: #485fb7; 
	background: -webkit-linear-gradient(to right, #485fb7, #f79709); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #485fb7, #f79709); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	transition: .3s color;
}

strong:hover {
	color: #a78bf9;
	cursor: pointer;
}

u {
	background: #485fb7; 
	background: -webkit-linear-gradient(to right, #ffffff, #bdfff5); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ffffff, #bdfff5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	transition: .3s color;
}

u:hover {
	color: #a78bf9;
	text-decoration: none;
	cursor: pointer;
}

o {
	background: #485fb7; 
	background: -webkit-linear-gradient(to right, #1745fd, #001a40); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #1745fd, #001a40); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	transition: .3s color;
}

o:hover {
	color: #a78bf9;
	text-decoration: none;
	cursor: pointer;
}